@use '../util/extends';

.block
{
    background-color: #282A35;
    padding: 2rem 0;
    text-align: center;
    &--image
    {
        background-image: url('../dist/body/priscilla-du-preez-XkKCui44iM0-unsplash.921aa0c0.jpg');
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 0;
    }
    &--image2
    {
        background-image: url('../dist/body/w3codes.png');
        background-size:auto;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    &--pad
    {
        padding: 6.4rem 0;
    }
    &--pad2
    {
        padding: 5.5rem 0;
    }
    &--pad3
    {
        padding: 7rem 0;
    }
    &--pad4
    {
        padding: 5.5rem 0;
    }
    &--cyan
    {
        background-color: #D9EEE1;
    }
    &--yellow
    {
        background-color: #FFF4A3;
    }
    &--black
    {
        background-color: #282A35;
    }
    &--black2
    {
        background-color: #232434;
    }
    &--grey
    {
        background-color:  #F3ECEA;
    }
    &--grey2
    {
        background-color: #E7E9EB;
    }
    &--green
    {
        background-color:  #96D4D4;
    }
    &--cream
    {
        background-color: #F3ECEA;
        padding: 5.5rem 0;
    }
    &--cyan
    {
        background-color: #96D4D4;
    }
    &__content
    {
        @extend .container;
        width: fit-content;
        &--language
        {
            @extend .flex;
            align-items: flex-start;
            width: 1400px;  
            flex-wrap: wrap;        
        }
    }
    &__pad
    {
        padding: 1.8rem 3rem;
        text-decoration: none;
        color: #000;
        flex: 1;
        &--50-porc
        {
            flex: 50%;
        }
        &--25-porc
        {
            flex: 25%;
        }
    }
    &__container
    {
        @extend .flex;   
        flex-direction: column;
        &--text
        {
            text-align: left;
            align-items: flex-start;
            background-color: #E7E9EB;
            padding: 1.7rem 1rem 1rem 1rem;
            box-shadow: 0 0 5px 0px rgb(133, 133, 133);
            border-radius: .3rem;
        }
        &--pad
        {
            padding: 2.6rem 0;
            border-radius: .4rem;
        }
        &--mini-pad
        {
            padding: 2.2rem 2.4rem;
        }
        &--pink
        {
            background-color:#FFC0C7;
            &:hover
            {
                background-color:#fa9ea9;
            }
        }
        &--yellow
        {
            background-color:#FFF4A3;
            &:hover
            {
                background-color: #f5e77e;
            }
        }
        &--grey
        {
            background-color:#F3ECEA;
        }
        &--green
        {
            background-color:#D9EEE1;
            &:hover
            {
                background-color:#b5f1cc;
            }
        }
        &--cyan
        {
            background-color: #96D4D4;
            &:hover
            {
                background-color: #5ec5c5;
            }
        }
        &--grey2
        {
            background-color: #E7E9EB;
            &:hover
            {
                background-color: #b4b7b9;
            }
        }
        &--white
        {
            color: #fff;
        }
    }
    &__text
    {
        width: 100%;  
        margin-top: 1rem;
        padding: .5rem 1rem;
        color: #fff;
        background-color: rgb(21,32,43);
    }
    &__title
    {
        font-size: 4.7rem;
        color: #fff;
        &--black
        {
            color: #000;
        }
        &--font
        {
            font-family: 'Freckle Face', cursive;
        }
        &--size
        {
            font-size: 45px;
        }
        &-language
        {
           color: rgb(0, 0, 0);
           font-size: 7rem;
           margin-top: -25px;
           &--small
           {
               font-size: 1.6rem;
               margin-top: 0;
           }
           &--box
           {
               font-size: 3rem;
               margin: 0;
           }
           &--margin
           {
               margin: 0;
           }
           &--white
           {
               font-size: 4.8rem;
               color: #fff;  
           }
           &--phyton
           {
               font-size: 4.8rem;
           }
        }
    }
    &__subtitle
    {
        font-size: 1.5rem;
        color: #FFC0C7;
        font-weight: 700;
        &--black
        {
            color: #000;
        }
        &--white
        {
            color: #fff;
        }
        &--margin
        {
            margin: .5rem auto 2.8rem auto;
        }
        &-language
        {
            font-size: 1.2rem;
            font-weight: bold;
            &--white
            {
                color: #fff;
                margin: 1rem 0 0 0;
            }
            &--box
            {
                margin: .6rem 0 1.4rem;
                color: #3a3a3a
            }
            &--25-porc
            {
                font-size: 2rem;
            }
        }
    }
    &__input-container
    {
        @extend .flex;
        margin: 2.3rem 0;
        border-radius: 5rem;
        width: 500px;
        overflow: hidden;
        button
        {
            @extend .button;
            align-items: center;
            justify-content: center;
            color: #fff;
            background-color:#04AA6D;
            flex: 1;
            height: 39.43px;
            &:hover
            {
                background-color:#0c8a5c;
            }
        }
    }
    &__input
    {
        flex: 0 1 400px;
        font-size: 17px;
        padding: 10px;
        padding-left: 25px;
        border: none;
        outline: none;
    }
    &__link
    {
        @extend .link;
        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: underline;
        display: inline-block;
        color: #fff;
        &-language
        {
            @extend .link;
            padding: .6rem 0;
            color: #fff;
            font-weight: bold;
            background-color: #04AA6D;
            width: 13.5rem;
            border-radius: 2rem;
            margin-top: 1.5rem;
            margin: 2rem auto 0;
            &:hover
            {
                background-color: #1c855e;
            }
            &--text
            {
                margin: 1rem 0 0 0;
            }
            &--yellow
            {
                position: relative;
                background-color:  #FFF4A3;
                color: rgb(0, 0, 0);
                span
                {
                    position:absolute;
                    font-size: .9rem;
                    border-radius: 1rem;
                    color: rgb(0, 0, 0);
                    left: 0;
                    top: 0;
                    transform: rotate(-20deg) translate(-25%,-50%);
                    background-color: #f8b6bd;
                    padding: .4rem 1.2rem;
                }
                &:hover
                {
                    background-color:  #fff18b;
                }
            }
            &--black
            {
                background-color: #282a35;
                &:hover
                {
                    background-color: rgb(221, 219, 219);
                    color: rgb(0, 0, 0);
                }
            }
            &--hover-black
            {          
                &:hover
                {
                    color: #fff;
                    background-color: rgb(0, 0, 0);
                }
            } 
            &--grey
            {
                background-color: #fff;
                color: rgb(0, 0, 0);
                &:hover
                {
                    background-color: rgb(224, 224, 224);
                }
            }
            &--pad
            {
                padding: 1.3rem 25rem;
                border-radius: 1.8rem;
            }
        }
        &:hover
        {
            color: #04AA6D;
        }
        &--big
        {
            @extend .link;
            font-size: 35px;
            padding: 5rem 15rem;
            background-color: #04AA6D;
            border-radius: .5rem;
            text-decoration: none;
            &:hover
            {
                color: #fff;
                background-color: #0e8157;
            }
            &-yellow
            {
                background-color: #f5e77e;
                color: #000;
                &:hover
                {
                    background-color:#ebda5a;
                    color: #000;
                }
            }
        }
    }
    &__gif-container
    {
        background-color: #f1f1f1;
        border-radius: .3rem;
        overflow: hidden;
        margin-top: 3.8rem;
        
    }
    &__url-container
    {
       @extend .flex;
       align-items: flex-start;
       padding: .8rem 1rem;
    }
    &__icon-container
    {
        @extend .flex;
        justify-content: left;
        gap: .5rem;
        font-size: 1rem;
        flex: 0 1 20%;
    }
    &__icon
    {
        color: rgb(245, 108, 108);
        &--yellow
        {
            color: rgb(248, 248, 130);
        }
        &--green
        {
            color: #04AA6D;
        }
    }
    &__url
    {
        flex: 1;
        font-weight: bold;
        padding-left: .5rem;
        text-align: left;
        color: #666;
        background-color: #fff;
    }
    &__button-container
    {
        @extend .flex;
        width: 100%;
    }
    &__button
    {
        @extend .button;
        font-size: 17px;
        padding: .7rem 1.1rem;
        &:hover
        {
            background-color: #E7E9EB;
        }
        &--grey
        {
            background-color: #E7E9EB;
        }
    }
    &__img
    {
        width: 100%;
        &--backend
        {
            display: none;
        }
        &--frontend
        {
            display: initial;
        }
    }   
    &__link-editor
    {
       @extend .link;
       margin: 1.5rem 100% 0 0;
       display: inline-block;
       background-color: #04AA6D;
       border-radius: .3rem;
       font-weight: bold;
       color: #fff;
       padding: .5rem 1rem;
       &:hover
       {
           background-color: #068f5d;
       }
       &--yellow
       {
           background-color: #f5e77e;
           color: #000;
           &:hover
           {
               background-color: #f8e65a;
           }
       }
    }
    &__content--width
    {
        width: 100%;
        padding: 6rem 0;
        position: relative;
        z-index: 999;
        background-color: #282A35;
        opacity: .96;
    }
    &__link--pad
    {
        padding: .7rem 4rem;
        border-radius: 2.6rem;
        font-size: 22px;
        margin: 0 auto;
    }
    &__img-container
    {
       width: 1080px;
       margin: 2rem auto 0 auto;
    }
    &__img
    {
        width: 100%;
    }
    &__img-picker-container
    {
        @extend .link;
        margin: 2rem 0 0 0;
        &:hover .block__img-picker
        {
            opacity: .8;
        }
    }
    &__flex-container
    {
        @extend .flex;
        margin-top: 3rem;
        gap: 6.5rem;
    }
    &__template-img-container
    {
        width: 980px;
        margin: 1.5rem 0 0 0;
    }
    &__template-img
    {
        width: 100%;
    }
}


